<div class="page-header">
    <h4>Coming soon...</h4>
</div>
<form class="form-group">
    <div class="input-group">
        <div class="input-group-addon"></div>
        <input type="text" class="form-control" placeholder="SKU">
    </div>
    <div class="input-group">
        <div class="input-group-addon"></div>
        <input type="text" class="form-control" placeholder="SKU">
    </div>
    <div class="input-group">
        <div class="input-group-addon"></div>
        <input type="text" class="form-control" placeholder="SKU">
    </div>
    <div class="input-group">
        <div class="input-group-addon"></div>
        <input type="text" class="form-control" placeholder="SKU">
    </div>
    <div class="input-group">
        <div class="input-group-addon"></div>
        <input type="text" class="form-control" placeholder="SKU">
    </div>
    <div class="input-group">
        <div class="input-group-addon"></div>
        <input type="text" class="form-control" placeholder="SKU">
    </div>
</form>